body {
  width: 100%;
  margin: 0%;
}

header {
  width: 100%;
  height: 50%;
}


#back {
  position: absolute;
  width: 100%;
}

.entete {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.logo {
  width: 500px;
  margin: 20px;
  margin-right: 2%;
  margin-left: 50px;
}

.logo img {
  width: 250px;
}

.left {
  flex-direction: column;
justify-content: flex-end;
width: 60%;
}

.topleft {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
  margin-left: 25%;
  margin-bottom: 7%;
  align-items: baseline;
}

.left a {
  text-decoration: none;
  color: white;
}

.left a img {
  width: 70%;
}

#In {
  margin: 5px;
  color: #C6C6C6;
}

#Com {
  margin: 5px;
  color: #C6C6C6;
}

nav a {
  color: white;
  margin: 3%;
  font-family: 'Spectral';
  font-variant: small-caps;
  font-size: larger;
  font-weight: 500;
}

nav {
  width: 100%;
}

.iconecart {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 50%;
}

.iconecart #titNouv {
  color: white;
  font-family: 'Spectral';
  font-size: 63px;
  margin-top: 5%;
  margin-bottom: 0%;
}

.iconecart a {
  color: #C6C6C6;
  font-family: 'Spectral';
  font-size: 30px;
  margin:0%;
  font-weight: 600;
}

.diffvins {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.diffvins img {
  width: 20%;
}

.autre img {
  width: 50%;
}

main {
  position: absolute;
  margin-top: 57%;
  width: 100%;
}

.vins {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

h2 {
  font-size: 23px;
  font-family: 'Spectral';
  color:#3F363C;
  text-align: center;
}


#v1 {
  width: 40%;
  margin: auto;
}

#v2 {
  width: 35%;
  margin: auto;
}

#v3 {
  width: 52%;
  margin: auto;
}

#v4 {
  width: 60%;
  margin: auto;
}

#v5 {
  width: 27%;
  margin: auto;

}

.vin1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
}

.vin1 a{
  text-decoration: none;
  font-family: 'Spectral';
  font-weight: 600;
  color: #3F363C;
  text-align: center;
}


.vin1 #coule {
  font-style: italic;
  font-weight: 500;
  color: #DB9D6B;
}

.autre {
  margin: auto;
}


.info   {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 25%;

}

.image img {
  width: 100%;
}

.vin_du_moment {
  width: 25%;
  text-align: center;
  background-color: #3F363C;
  padding-top: 7%;
  font-family: 'Spectral';
  font-weight: 500;
  color: white;
}

.label2 {
  width: 25%;
  background-color: #DB9D6B;
  padding-top: 8%;
}

.image #icone {
  width:50%;
  padding-top: 25%;
  padding-left: 25%;
  background-color: #DB9D6B;
  padding-right: 25%;
  padding-bottom: 25%;
}

#tit1 {
  color: #DB9D6B;
}

#tit2 {
  color: white;
  font-family: 'Spectral';
  font-weight: 500;
}


.textico {
  width: 25%;
  background-color: #7A6F6F;
  padding-top: 8%;
  color: white;
  font-family: 'Spectral';
}

.labelAB {
  width: 25%;
  background-color: #C3D65A;
  align-items: center;
  text-align: center;
  padding-top: 5%;
}


.image #icoto {
  padding-left: 25%;
  width: 55%;
  padding-top:25%;
  padding-right: 25%;
  padding-bottom: 34%;
  background-color: #7A6F6F;
}

#tit4 {
  color:#3F363C;
  font-family: 'Spectral';
}


/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border:2px ;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 40px;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}